# put this into the ".env.local" file

# required | URL of the tenta server (no trailing slash)
NEXT_PUBLIC_SERVER_URL="http://your-server-domain.com"

# optional | rendered on the login page
NEXT_PUBLIC_CONTACT_EMAIL="contact.email@login.page"

# optional | this is rendered in the header
NEXT_PUBLIC_INSTANCE_TITLE="Tenta Demo Instance"
NEXT_PUBLIC_INSTANCE_SUBTITLE="Professorship of Environmental Sensing and Modeling"

