@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nextra-navbar-height: 3.25rem;

  .nextra-banner-container {
    background: #f59e0b !important;
  }
}

.nx-duration-500 {
  transition-duration: 100ms;
}

.nx-transition-colors {
  transition-duration: 50ms;
}

footer div.nx-py-12 {
  @apply py-3 font-semibold text-sm text-gray-800 items-center justify-center;
}
